<!doctype html>
<html xmlns="http://www.w3.org./1999/" xmlns:th="http://www.thymeleaf.org">
 <head>
	<meta charset="ISO-8859-1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
		integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Open+Sans:wght@300&family=Poppins:wght@200;300;600&family=Roboto:wght@300&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

  <body>

   <header th:replace="~{layout/layout :: header}"></header>

    <main class="main">    
		 
      <hr>
      <div class="container my-5"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Usuarios</strong></h4>              
          <div class="card-body">            
            <hr>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Username</th>                  
                  <th scope="col">Email</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="usuario:${usuarios}">
                   <td th:text="${usuario.nombre}"></td>
                   <td th:text="${usuario.username}"></td> 
                   <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.estatus == 1 ? 'Activo' : 'Bloqueado' }">Activo</td>
                  
                  <td>
                    <a th:href="@{/usuarios/delete/{id} (id=${usuario.id}) }" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    <a th:href="@{/lock/{id}(id=${usuario.id})}" class="btn btn-success btn-sm" role="button" title="Bloquear el acceso al sistema para este usuario."><i class="fas fa-lock" aria-hidden="true"></i></a>	
                    <a th:href="@{/unlock/{id}(id=${usuario.id})}" class="btn btn-success btn-sm" role="button" title="Permitir el acceso al sistema a este usuario."><i class="fas fa-unlock" aria-hidden="true"></i></a>
                  </td>
                </tr>

                
                                               
              </tbody>
            </table>
               <nav th:if="${usuarios.totalPages > 0}" aria-label="Page navigation example" >
			  <ul class="pagination">         
			    <li class="page-item"><a th:href="@{/usuarios/indexPaginate(page=${usuarios.number - 1})}" class="page-link">Anterior</a></li>			    
			    <li class="page-item"><a th:href="@{/usuarios/indexPaginate(page=${usuarios.number + 1})}" class="page-link">Siguiente</a></li>
			  </ul>
			</nav>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>
    
    <footer th:replace="~{layout/layout :: footer}"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    
    <script>
	
		// Guardamos en una variable una funcion que muestra un cuadro de dialogo de tipo confirm
		var dialogoConfirm = function (e) {
			if (!confirm('¿Realmente desea eliminar el registro?')) 
				e.preventDefault();
		};

		// Aplicamos a todos los elementos HTML que tengan la clase CSS 'confirmar' el evento click para que muestre el cuadro de dialogo de confirmacion. 
		document.querySelectorAll('.confirmar').forEach(function(elemento) {
			elemento.addEventListener('click', dialogoConfirm, false);
		});
	
	</script>
         
  </body>
</html>
