<!doctype html>
<html xmlns="http://www.w3.org./1999/" xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="ISO-8859-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
    integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Open+Sans:wght@300&family=Poppins:wght@200;300;600&family=Roboto:wght@300&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
 crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/style.css}">
  </head>

  <body>
   <header th:replace="~{layout/layout :: header}"></header>

     <main class="my-5" id="search">
      <div class="container  py-5 col-sm-9 col-12" id="search">
          <h2>Encuentra la entretencion que andas buscando.</h2>
          Puedes buscar por descripcion y/o categoria.
          <form class="form-inline col-sm-6" th:action="@{/search}" method="get" th:object="${search}">
            <input type="text" class="form-control mb-3" th:field="*{descripcion}" id="exampleFormControlInput1" placeholder="Escriba una búsqueda">&nbsp;
            <select th:field="*{categoria.id}" class="custom-select custom-select mb-3">
              <option th:value="${null}" selected >Seleccione una categoria</p>
              <option th:each="categoria : ${categorias}"
               th:value="${categoria.id}"
                th:text="${categoria.nombre}" ></option>
            </select>&nbsp;
            <button type="submit" class="btn btn-warning mb-3">Buscar</button>
          </form>
        </div>
   
      <hr>

      <div class="container"> 
        <h1 class="font-weight-bold text-center text-capitalize">Shows</h1>
        <div th:if="${msg!=null}" class="alert alert-success" th:text="${msg}" role='alert'></div>
        <hr>
        <div class="row" th:each="show:${shows}">
            <div class="col-md-3">            
           <img class="rounded mx-auto d-block" th:src="@{'/uploads/' + ${show.foto}}" th:alt="${show.foto}" width="170" height="120">          
             </div>
            <div class="col-md-9">
            <h2  th:text="${show.showTitle}"></h2>
            <h6 class="card-title"><strong>Donde verla: </strong></h6> <h4 th:text="${show.showNetwork}"></h4>
            <h6 class="card-title"><strong>Duracion:</strong></h6> <h6 th:text="${show.duracion}"></h6>                
      
            <p><a class="btn btn-secondary"  th:href="@{/ver/} + ${show.id}"  role="button"><i class="fas fa-info-circle"></i>View details</a></p>            
          </div>
      </div>
       </div>  
     
              
		  <hr>	
		  
	
     <!-- /container -->

    </main>

     <footer th:replace="~{layout/layout :: footer}"></footer>
   
     <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="script.js"></script>
 </body>
</html>